<div class="footer"> 
<Hr>
<p align=center>
Hydraulic Electro Service Corp<br>
 9910 Edes Avenue Oakland, CA 94603 <br>
Open 7:30 am - 4:30 pm, Mondays-Fridays, except holidays.<Br>
Please call: (510) 654-4641
</p>
</div>
